body{
  margin:auto;
  background-image: url("https://applescoop.org/image/wallpapers/mac/ultra-high-resolution-galaxy-nebulas-top-rated-most-downloaded-free-download-wallpapers-for-macbook-pro-and-macbook-air-and-microsoft-windows-desktop-pcs-4k-07-12-2024-1733638649-hd-wallpaper.webp")
}
header{
  background-color: #2c3e50;
}
.nav-container .logo{
  color: white;
  margin: auto;
  font-family: "Roboto",Arial,Sans-serif;
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 1340px;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: auto;
    padding-left: 20px;

}
.nav-container a{
    text-decoration: none;
    color:white;
}
.nav-container a:hover {
    color: #3498db;
 }
.nav-container a.active {
    border-bottom: 2px solid #3498db;
    padding-bottom: 3px;
}
header .nav-container{
  margin: auto;
  text-decoration: none;
  font-family: "tahoma" , sans-sherif;
  display:flex;
  font-size: 1.5rem;
  padding: 20px;
}

footer {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
}
footer a:hover {
    color: #3498db;
 }
footer li{
  list-style: none;
  float: left;
  padding-left: 20px;
}
footer a{
  color:white;
  text-decoration:none;
  text-align: right;
}
footer p{
  text-align: left;
}

li ul { display: none; }
li:hover > ul { display: block; }